.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

.App-main {
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

.Movies-style{
  width: 10em;
}

